.circular--landscape { 
    display: inline-block; 
    position: relative; 
    width: 400px; height: 400px; 
    overflow: hidden; 
    border-radius: 40%;
    border:transparent 20px solid;
} 

    .circular--landscape img { 
        width: auto; 
        height: 100%; 
        margin-left: -50px;
        
     }